.contact {
  margin-bottom: 256px;
  padding: 120px 8px;
  text-align: center;
  background: #099596;

  h1 {
    font-size: 48px;
    margin-bottom: 48px;
  }

  .block {
    max-width: 600px;
    margin: auto;
    font-size: 24px;
    color: white;
  }

  .price {
    display: grid;
    margin: 0 auto 2rem;

    gap: 12px;
    grid-template-columns: repeat(2, auto);
  }

  .smallText {
    font-style: italic;
    font-size: 18px;
  }

  b {
    font-weight: bold;
  }

  .dl {
    margin: 0 auto 2rem;
    display: grid;

    dt {
      font-size: 80%;
      margin-bottom: 8px;
      text-align: left;
    }

    dd {
      text-align: left;
      margin-bottom: 24px;
      margin-left: 16px;
    }

    @media (min-width: 500px) {

      display: grid;
      gap: 12px;
      grid-template-columns: repeat(2, auto);

      dt {
        text-align: right;
        font-size: 100%;
        margin-bottom: 0;
      }

      dd {
        margin-left: 8px;
        margin-bottom: 0;
      }
    }
  }
}
