.flex {
  display: flex;
  flex-direction: column-reverse;
}

/*.title {
  padding: 24px 8px 16px;
  text-align: center;
}*/

.blockText {
  display: grid;
  margin-bottom: 24px;
}

.mapLink {

}

.openIcn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.gridDefinitionTerm {
  display: inline-grid;
  grid-gap: 12px;
  gap: 12px;
  grid-template-columns: repeat(2, auto);
  margin: auto;
  padding: 16px;

  dt {
    font-weight: bold;
  }

  dd {
    margin: 0;
  }
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row-reverse;

    > div {
      width: 50%
    }
  }
}
