.footer {
  background: #427692;
  padding: 96px 8px;

  .block {
    max-width: 600px;
    margin: auto;
    font-size: 24px;
    color: white;
  }

  a {
    color: #c6d4dc;

    &:hover {
      color: #283841;
    }
  }

  .contactMe {
    position: fixed;
    bottom: 0;
    left: 0;
    background: white;
    border-right: 1px solid black;
    border-top: 1px solid black;
    z-index: 10;
    padding: 16px 8px;
    border-top-right-radius: 4px;
    box-shadow: 2px -2px 5px 1px rgba(0, 0, 0, 0.5);
    font-size: 18px;
    color: #099596;

    &:hover {
      color: green;
    }
  }
}
