.map {
  background: #427692;
  padding: 96px 8px;

  .block {
    max-width: 600px;
    margin: auto;
    font-size: 36px;
    color: white;
  }

  .wide {
    max-width: 1200px;
    margin: auto;
  }

  h1 {
    font-size: 48px;
    margin-bottom: 48px;
  }

  p, li, a {
    font-size: 24px;
  }

  ul {
    margin-bottom: 48px;
    margin-left: 24px;
  }

  li {
    list-style: disc;
    margin-bottom: 8px;
  }

  a {
    color: #c6d4dc;

    &:hover {
      color: #283841;
    }
  }
}
