.flex {
  display: flex;
  flex-direction: column-reverse;
  margin-bottom: 48px;

  > div {
    padding: 16px;
  }
}

.imgWrap {
  position: relative;
  display: grid;
  justify-content: center;
}

.openIcn {
  position: absolute;
  top: 24px;
  right: 24px;
}

.title {
  margin: 48px 0 24px 16px;
}

.text {
  padding-bottom: 12px;

  p {
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  .flex {
    flex-direction: row-reverse;

    > div {
      width: 50%;
    }
  }

  .text {
    min-height: 224px;
  }
}

@media (min-width: 1024px) {
  .text {
    min-height: 186px;
  }
}


