*, *:before, *:after{
  box-sizing: border-box;
}

html, body, div, span, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, code, em, img, small, strike, strong, sub, sup, tt, b, u, i, ol, ul, li, fieldset, form, label, table, caption, tbody, tfoot, thead, tr, th, td, main, canvas, embed, footer, header, nav, section, video{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  text-size-adjust: none;
}

footer, header, nav, section, main{
  display: block;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body{
  line-height: 1;
}

ol, ul{
  list-style: none;
}

blockquote, q{
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after{
  content: '';
  content: none;
}

table{
  border-collapse: collapse;
  border-spacing: 0;
}

input{
  -webkit-appearance: none;
  border-radius: 0;
}

h1 {
  font-size: 48px;
  font-weight: 100;
  line-height: 1.2em;
  color: #20344C;
}

h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2em;
  color: #20344C;
}

p, dt, dd, li {
  font-size: 20px;
  font-weight: 400;
  line-height: 1.3em;
  color: #20344C;
}

.image-gallery-slides {
  min-height: 300px;
}

@media (min-width: 768px) {
  .image-gallery-slides {
    min-height: 465px;
  }
}

@media (min-width: 1024px) {
  .image-gallery-slides {
    min-height: 600px;
  }
}
